<div class="form-background-color">
    <div class="form-container edit-post-form">
        <h5 class="form-title">Edit Post</h5>
        <form action="/posts/<%= post["id"] %>" method="post" enctype="multipart/form-data">

            <input type="hidden" name="_method" value="put">

            <div class="label-input">
                <label for="sport">Sport</label>
                <input type="text" name="sport" value="<%= post["sport"] %>">
            </div>

            <div class="label-input">
                <label for="difficulty">Difficulty</label>
                <input type="text" name="difficulty" value="<%= post["difficulty"] %>">
            </div>

            <div class="label-input">
                <label for="location">Location</label>
                <input type="text" name="location" value="<%= post["location"] %>">
            </div>

            <div class="label-input">
                <label for="image_url">Upload image</label>
                <input type="file" name="image_url" value="<%= post["photo"] %>">
            </div>

            <button class="submit-btn">Update</button>
        </form>
    </div>
</div>