<header class="index-header">
    <div class="top-row">
        <h1 class="bluebird">bluebird</h1>
        <% if logged_in? %>
            <form action="/session" method="post" class="logout-frm">

                <input type="hidden" name="_method" value="delete">
                <div class="blue-btn-div logout-btn-div">
                    <button class="blue-btn logout-btn">logout</button>
                </div>

            </form>
        <% else %>
            <div class="blue-btn-div login-btn-div">
                <a href="/login" class="login-btn blue-btn">login</a>
            </div>
        <% end %>
    </div>
    <h2>
        <span class="share-txt">Share Your</span>
        <span class="adventure-txt">Adventures</span>
    </h2>
    <% unless logged_in? %>
        <div class="blue-btn-div sign-up-div upper">
            <a href="/new_user" class="blue-btn">Sign Up</a>
        </div>
    <% end %>
</header>
<% if logged_in? %>
    <div class="actions-div">
        <h3 class="adventures-h3">All Adventures</h3>
        <div class="index-actions upper">
            <a href="/new_post" class="index-action highlight share">Share New Adventure</a>

            <a href="/my_posts" class="index-action adventure highlight">My Adventures</a>
        </div>
    </div>
<% end %>

<div class="post-cards">
    <% posts.to_a.reverse.each do |post| %>
        <div class="post-card-padding">
            <div class="post-card">
                <p class="sport-p"><%= post["sport"] %></p>
                <a href="/posts/<%= post["id"]%>"><%= cl_image_tag("#{post["public_id"]}#{post["format"]}", :width => 400, :height => 400, :crop => :fill, :class => "post-img", :cloud_name => "dy4m2fyld") %></a>
                <div class="post-txt-div">
                    <div class="post-info">
                        <p class="diff-p"><%= post["difficulty"] %></p>
                        <p class="loc-p"><%= post["location"] %></p>
                    </div>
                    <div class="user-info">

                        <% user = get_user_by_id(post["user_id"]) %>

                        <a href="/user_posts/<%= user["id"] %>">
                            <%= cl_image_tag("#{user["public_id"]}#{user["format"]}", :width => 200, :height => 200, :crop => :fill, :class => "profile-icon") %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>