<header class="index-header">
    <h1 class="bluebird">blueBird</h1>
    <h2>Share Your Adventures</h2>
    <% unless logged_in? %>
        <a href="/login" class="blue-btn">login</a>
    <% end %>
</header>
<% if logged_in? %>
    <form action="/session" method="post">

        <input type="hidden" name="_method" value="delete">
        <button>logout</button>

    </form>
    
    <a href="/share">Share New Adventure</a>

    <a href="/my_posts">My Adventures</a>
<% end %>

<% posts.each do |post| %>
    <br>
    <p><%= post["sport"] %></p>
    <p><%= post["difficulty"] %></p>
    <p><%= post["location"] %></p>
    <p><%= post["sport"] %></p>
    <a href="/posts/<%= post["id"]%>"><img src="<%= post["photo"] %>" alt=""></a>
    <p><%= get_user_by_id(post["user_id"])["user_name"] %></p>
    <br>
<% end %>