<% posts.each do |post| %>
    <p><%= post["sport"] %></p>
    <p><%= post["difficulty"] %></p>
    <p><%= post["location"] %></p>
    <a href="/posts/<%= post["id"] %>"><img src="<%= post["photo"]%>" alt=""></a>
<% end %>